:root {
  --heading-color: #000;
  --text-color: #545a58;
  --light-grey: #dadada;
  --white: #fff;
  --red: #f85a47;
  --gold: #fbb040;
  --purple: #9672ff;
  --background-purple: #bdccff;
  --blue: #4ddffd;
  --light-blue: #f1ffff;
  --pink: #f2b8ec;

  --mt-large: 23rem;
  --mt-big: 19rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Manrope", sans-serif;
  color: var(--text-color);
  font-size: 1.7rem;
  line-height: 150%;
}

.container {
  width: 128rem;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.heading {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  line-height: 120%;
  color: var(--heading-color);
}

.heading-2 {
  font-size: 4rem;
}

.heading-3 {
  font-size: 2.2rem;
}

.heading-4 {
  font-size: 3rem;
}

.padding-right {
  padding-right: 6.8rem;
}

.btn {
  font-size: 1.7rem;
  font-weight: 700;
  letter-spacing: 0.02rem;
  color: var(--white);
  border: 2px solid var(--red);
  background-color: var(--red);
  cursor: pointer;
  position: relative;
}

.btn::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  box-shadow: none;
  transition: box-shadow 0.3s;
}

.btn:hover::before {
  box-shadow: 0px 100px 80px rgba(248, 90, 71, 0.07),
    0px 64.8148px 46.8519px rgba(248, 90, 71, 0.0531481),
    0px 38.5185px 25.4815px rgba(248, 90, 71, 0.0425185),
    0px 20px 13px rgba(248, 90, 71, 0.035),
    0px 8.14815px 6.51852px rgba(248, 90, 71, 0.0274815),
    0px 1.85185px 3.14815px rgba(248, 90, 71, 0.0168519);
}

.btn-round {
  padding: 2rem 3rem;
  border-radius: 5px;
}

.btn-cta {
  padding: 1.6rem 6.9rem;
}
